@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_slnt_wght.ttf");
}
/* @font-face {
  font-family: "Inter";
  src: url("/fonts/Merriweather-Black.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
} */

@layer base {
  ::selection{
    background: #b3d7fe;
  } 
  :root {
    --background: 0 0% 100%; /*bg-200*/

    --text-color-600: hsl(221, 43% ,11%); /*text mostly*/
    --text-color-500: hsl(222, 47%, 11%); /*text-accent-foreground */
    --text-color-400: hsl(138, 10%, 20%); /* #2d3730*/
    --text-color-300: hsl(218, 23%, 27%) ; /* text-label-foreground*/
    --text-color-200: hsl(221, 13%, 46%); /* text-muted-foreground */
    --text-color-180: hsl(215, 16%, 57%); /*#7F8EA3.*/
    --text-color-150: hsl(221, 13%, 79%); /*disabled version of 200*/
    --text-color-100: hsl(0, 0%, 65%) ; /* #a5a5a5*/
  
    --foreground: 221 43% 11%; 
  
    --muted: 210 40% 96.1%;  
    --muted-foreground: 221 13% 46%;   /*same as text-color-200 . change both when changing one*/
  
    --label-foreground: 217 23% 27%;
  
    --popover: 0 0% 100%; /*bg-100 (lightest)*/
  
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
  
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
  
    --primary: 237 77% 59%;
    --primary-hover: 225.35 84% 49% ;
    --primary-foreground: 210, 20%, 98%;
    --primary-600: 259 63% 59%;
  
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
  
    --tertiary:  0 0% 96%; /*bg-400*/
    --tertiary-hover: 0 0% 100%; 
  
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
  
    --destructive: 0, 74%, 45%;
    --destructive-foreground: 0, 0%, 100%;
  
    --ring: 215 20.2% 65.1%;
  
    --radius: 0.5rem;
    --gray-900: 220 43% 11%;
    --gray-700: 218 24% 27%;
    --gray-500: 220 13% 46%;
    --gray-400: 221 12% 56%;
    --gray-100: 220 22% 96%;
    --form-gray: 216 16% 84%;
    --validation-error: 4 76% 40%;
  
    --highlight: 203 100% 92%;
    --success-bg: 143 80% 98%;
    --success-border: 148 74% 67%;
    --success-foreground: 155 97% 24%;
  
    --sidebar-bg: 220 43% 11%; /*bg-500*/
    --sidebar-selected-bg: 217 24% 27%; /*bg-600 darkest*/
    --sidebar-foreground: 0 0 100%;
    --sidebar-text: ; 
    --sidebar-icon: 216 16% 84%;
    
    
    --sent-chat-msg: 216 100% 96%; /*chat-msg-background*/
    --chat-owner-mention: 228 85% 72%;
    --nonchat-owner-mention: 0 74% 45%;
    
    --online-background: 140.65 84% 92%;
    --online-text: 144.7 100% 26%;
    --offline-background: 359.98 99% 94%;
    --offline-text: 357.7 100% 38%;
    
  
    --faint: 220 17% 91%;
  }
}
.default{
  --background: 0 0% 100%; /*bg-200*/

  --text-color-600: hsl(179, 100%, 0%); /*text mostly*/
  --text-color-500: hsl(222, 47%, 11%); /*text-accent-foreground */
  --text-color-400: hsl(138, 10%, 20%); /* #2d3730*/
  --text-color-300: hsl(218, 23%, 27%) ; /* text-label-foreground*/
  --text-color-200: hsl(221, 13%, 46%); /* text-muted-foreground */
  --text-color-150: hsl(221, 13%, 79%); /*disabled version of 200*/
  --text-color-100: hsl(0, 0%, 65%) ; /* #a5a5a5*/

  --foreground: 221 43% 11%; 

  --muted: 210 40% 96.1%;  
  --muted-foreground: 221 13% 46%;

  --label-foreground: 217 23% 27%;

  --popover: 0 0% 100%; /*bg-100 (lightest)*/

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 237 77% 59%;
  --primary-hover: 225.35 84% 49% ;
  --primary-foreground: 210, 20%, 98%;
  --primary-600: 259 63% 59%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --tertiary:  0 0% 96%; /*bg-400*/
  --tertiary-hover: 0 0% 100%; 

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0, 74%, 45%;
  --destructive-foreground: 0, 0%, 100%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
  --gray-900: 220 43% 11%;
  --gray-700: 218 24% 27%;
  --gray-500: 220 13% 46%;
  --gray-400: 221 12% 56%;
  --gray-100: 220 22% 96%;
  --form-gray: 216 16% 84%;
  --validation-error: 4 76% 40%;

  --highlight: 203 100% 92%;
  --success-bg: 143 80% 98%;
  --success-border: 148 74% 67%;
  --success-foreground: 155 97% 24%;

  --sidebar-bg: 220 43% 11%; /*bg-500*/
  --sidebar-selected-bg: 217 24% 27%; /*bg-600 darkest*/
  --sidebar-foreground: 0 0 100%;
  --sidebar-text: ; 
  --sidebar-icon: ;
  
  
  --sent-chat-msg: 216 100% 96%; /*chat-msg-background*/
  --chat-owner-mention: 228 85% 72%;
  --nonchat-owner-mention: 0 74% 45%;
  
  --online-background: 140.65 84% 92%;
  --online-text: 144.7 100% 26%;
  --offline-background: 359.98 99% 94%;
  --offline-text: 357.7 100% 38%;
  

  --faint: 220 17% 91%;
}
.dark {
  --background: 222 47% 11%;

--text-color-600: hsl(0, 0%, 95%); /*text mostly*/
--text-color-500: hsl(210, 20%, 90%); /*text-accent-foreground */
--text-color-400: hsl(220, 10%, 80%); /* light text for dark bg */
--text-color-300: hsl(220, 15%, 70%) ; /* text-label-foreground*/
--text-color-200: hsl(220, 13%, 60%); /* text-muted-foreground */
--text-color-150: hsl(220, 13%, 40%); /*disabled version of 200*/
--text-color-100: hsl(0, 0%, 45%) ; /* #737373 */

--foreground: 210 20% 98%;

--muted: 215 27% 16%;
--muted-foreground: 215 20% 65%;

--label-foreground: 217 23% 70%;

--popover: 222 47% 11%;

--border: 215 27% 30%;
--input: 215 27% 30%;

--card: 222 47% 15%;
--card-foreground: 210 20% 98%;

--primary: 237 77% 59%;
--primary-hover: 225 84% 70%;
--primary-foreground: 210 20% 98%;
--primary-600: 259 63% 75%;

--secondary: 217 19% 27%;
--secondary-foreground: 210 20% 98%;

--tertiary: 215 27% 20%;
--tertiary-hover: 215 27% 25%; 

--accent: 215 27% 30%;
--accent-foreground: 210 20% 98%;

--destructive: 0 74% 55%;
--destructive-foreground: 0 0% 100%;

--ring: 215 20% 65%;

--radius: 0.5rem;
--gray-900: 220 15% 90%;
--gray-700: 218 15% 75%;
--gray-500: 220 13% 60%;
--gray-400: 221 12% 45%;
--gray-100: 220 22% 16%;
--form-gray: 216 16% 30%;
--validation-error: 4 76% 60%;

--highlight: 203 75% 28%;
--success-bg: 143 30% 22%;
--success-border: 148 40% 30%;
--success-foreground: 155 60% 70%;

--sidebar-bg: 223 50% 8%;
--sidebar-selected-bg: 222 45% 18%;
--sidebar-foreground: 0 0% 100%;
--sidebar-text: 0 0% 90%;
--sidebar-icon: 0 0% 90%;

--sent-chat-msg: 216 30% 25%;
--chat-owner-mention: 228 60% 60%;
--nonchat-owner-mention: 0 74% 65%;

--online-background: 140 40% 22%;
--online-text: 144 70% 70%;
--offline-background: 359 40% 25%;
--offline-text: 357 70% 75%;

--faint: 220 17% 24%;
}
.claude-theme{

  --background: 48 33% 97% ; /*orange theme main bg*/

  --text-color-600: hsl(179, 100%, 0%); /*text mostly*/
  --text-color-500: hsl(222, 47%, 11%); /*text-accent-foreground */
  --text-color-400: hsl(138, 10%, 20%); /* #2d3730*/
  --text-color-300: hsl(218, 23%, 27%) ; /* text-label-foreground*/
  --text-color-200: hsl(221, 13%, 46%); /* text-muted-foreground */
  --text-color-150: hsl(221, 13%, 79%); /*disabled version of 200*/
  --text-color-100: hsl(0, 0%, 65%) ; /* #a5a5a5*/


  --foreground: 221 43% 11%; /* backgroud 100*/

  --muted: 210 40% 96.1%;
  --muted-foreground: 221 13% 46%; 

  --label-foreground: 217 23% 27%;

  --popover: 0 0% 100%;

  --border: 252 27% 85%;  
  --input: 214.3 31.8% 91.4%;

  --card:  120 20% 98 ; 
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 138 10% 20%; 
  --primary-hover: 22 76% 58% ;

  --primary-foreground: 210, 20%, 98%;
  --primary-600: 259 63% 59%;

  --secondary: 210 40% .1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --tertiary:  42 26% 93%; 
  --tertiary-hover: 0 0% 100%; 

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0, 74%, 45%;
  --destructive-foreground: 0, 0%, 100%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;
  --gray-900: 220 43% 11%;
  --gray-700: 218 24% 27%;
  --gray-500: 220 13% 46%;
  --gray-400: 221 12% 56%;
  --gray-100: 220 22% 96%;
  --form-gray: 216 16% 84%;
  --validation-error: 4 76% 40%;

  --highlight: 203 100% 92%;
  --success-bg: 143 80% 98%;
  --success-border: 148 74% 67%;
  --success-foreground: 155 97% 24%;

  --sidebar-bg: 45 18% 87%; 
  --sidebar-selected-bg: 60 10% 76%; 
  --sidebar-foreground: 0 0 100%;
  --sidebar-text: 0 0% 0%;
  --sidebar-icon: 0 0% 0%;
 

  --sent-chat-msg: 19 88% 77%;
  --chat-owner-mention: 0 0% 0%; 
  --nonchat-owner-mention: 0 74% 45%;

  --online-background: 150 72% 85%;
  --online-text: 120, 40%,30%;
  --offline-background: 0 88% 94%;
  --offline-text:oklch(0.505 0.213 27.518);

  --faint: 220 17% 91%;
}
.new-theme {
  --background:0 0% 98%; /*bg-200*/
  --text-color-600: 	hsl(132, 13%, 15%);
  /* --text-color-600: hsl(140, 8%, 15%); text mostly */
  --text-color-500: hsl(129, 9%, 27%); /*text-accent-foreground */
  --text-color-400: hsl(135, 8%, 40%); /* copy-light */
  --text-color-300: hsl(131, 8%, 39%); /* copy-lighter */
  --text-color-200: 	hsl(132, 13%, 15%);
  --text-color-180: hsl(136, 10%, 75%); /*lighter variant*/
  --text-color-150: hsl(135, 8%, 80%); /*disabled version of 200*/
  --text-color-100: hsl(134, 7%, 85%); /* lightest text */
  
  --foreground: 0 0% 98%;
  
  --muted: 132 8% 88%;
  --muted-foreground: 137 8% 65%; /*same as text-color-200 . change both when changing one*/
  
  --label-foreground: 135 8% 40%;
  
  --popover: 0 0% 98%; /*bg-100 (lightest)*/
  
  --border: 132 8% 88%;
  --input: 132 8% 88%;
  
  --card: 0 0% 98%;
  --card-foreground: 140 8% 15%;
  
  --primary: 132 13% 15%;
  --primary-hover: 135 24% 32%;
  --primary-foreground: 133 23% 92%;
  --primary-600: 136 23% 52%;
  
  --secondary: 226 23% 42%;
  --secondary-foreground: 227 23% 92%;
  
  --tertiary: 120 6% 94%;
  /* --tertiary: 120 7% 94%; bg-400 */
  --tertiary-hover: 120 7% 89%;
  
  --accent: 226 23% 42%;
  --accent-foreground: 227 23% 92%;
  
  --destructive: 0 23% 42%;
  --destructive-foreground: 0 23% 92%;
  
  --ring: 132 8% 78%;
  
  --radius: 0.5rem;
  --gray-900: 140 8% 15%;
  --gray-700: 135 8% 40%;
  --gray-500: 134 7% 55%;
  --gray-400: 135 7% 65%;
  --gray-100: 132 8% 88%;
  --form-gray: 135 8% 80%;
  --validation-error: 0 23% 42%;
  
  --highlight: 136 23% 92%;
  --success-bg: 120 30% 95%;
  --success-border: 120 23% 82%;
  --success-foreground: 120 23% 42%;
  --sidebar-bg: 	120 4% 80%;
  /* --sidebar-bg: 135 24% 32%; bg-500 */
  --sidebar-selected-bg: 120 3% 70%; /*bg-600 darkest*/
  --sidebar-foreground: 0 0% 98%;
  --sidebar-text:129 9% 27%;
  --sidebar-icon: 129 9% 27%;
  
  --sent-chat-msg: 136 20% 95%; /*chat-msg-background*/
  --chat-owner-mention: 136 23% 62%;
  --nonchat-owner-mention: 0 23% 52%;
  
  --online-background: 120 30% 90%;
  --online-text: 120 23% 42%;
  --offline-background: 0 30% 90%;
  --offline-text: 0 23% 42%;
  
  --faint: 132 8% 93%;
}

@layer base {
  * {
    @apply border-border;
    @apply font-Inter;
    /* font-family: "Inter", serif;  */
    /* font-family: "Inter", sans-serif;  */
    /* font-family: "Arial", sans-serif; */
    /* font-family: "Times New Roman", serif; */
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  h1 {
    @apply text-2xl 2xl:text-3xl font-semibold text-foreground;
  }
  h2 {
    @apply text-xl 2xl:text-2xl font-medium;
  }
  p {
    @apply text-base font-medium;
  }
  input {
    @apply focus:!ring-1;
  }
  button {
    @apply focus:!ring-0;
  }

  .carousel .slide .legend {
    opacity: 1 !important;
    background: none !important;
    position: relative !important;
    margin-top: 0.5rem !important;
  }

  .legend h3 {
    font-size: large !important;
  }

  div[role="tabpanel"] {
    margin-top: -2px !important;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
  .animation-delay-600 {
    animation-delay: 0.6s;
  }

  article > p {
    font-weight: 400;
  }
}

.dot {
  @apply w-[6px] h-[6px] my-2 mx-1 rounded-full;
}

.page-padding {
  @apply px-4 md:px-8 2xl:px-14;
}
.page-title {
  @apply not-italic font-semibold leading-7 2xl:leading-9 text-primary whitespace-nowrap text-lg sm:text-xl 2xl:text-2xl;
}
.page-header {
  @apply h-[50px] sm:h-[55px] xl:h-[60px] 2xl:h-[65px];
}
/* width*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #475467;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #101828;
}

/* ::-webkit-scrollbar {
  width: 0;
  height: 5px;
} */

.showSQL::-webkit-scrollbar{
    width: 5px;
  }
.chat-source-detail::-webkit-scrollbar{
  width: 5px;
}
.source-files::-webkit-scrollbar {
  width: 5px;
}
.fileSharingList::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.agentSharingList::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.deletionInfo::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
  background: #eef0f2;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
}

.SelectTrigger[data-placeholder] {
  @apply text-txt-color-200;
}

@media (min-width: 768px) {
  body:not(:has(.auth-layout)) {
    overflow: hidden !important;
  }
}

::-ms-reveal {
  display: none;
}

.TooltipContent[data-side="right"] > span > svg {
  transform: translateX(-8px) !important;
}

.TooltipContent[data-side="left"] > span > svg {
  transform: translateX(8px) !important;
}

.TooltipContent[data-side="top"] > span {
  transform: translateY(0) !important;
  visibility: visible !important;
  @media (min-width: 640px) {
    transform: translateY(-8px) !important;
  }
}
.TooltipContent[data-side="bottom"] > span {
  visibility: visible !important;
}

/* For the LangSelector */
.localeInput:focus {
  box-shadow: none !important;
}

div[role="dialog"]:focus-visible,
div[role="alertdialog"]:focus-visible {
  outline: none !important;
}

.file-browser::-webkit-scrollbar,
.avatarList::-webkit-scrollbar,
.upload-status::-webkit-scrollbar {
  width: 6px;
}

.table-scroll > div::-webkit-scrollbar {
  width: 6px;
}
.data-table-dropzone {
  @apply h-full;
}

@-moz-document url-prefix() {
  .drive-table-header {
    margin-right: 0px !important;
  }
  .data-table-dropzone {
    @apply h-[calc(100%-48px)];
  }
  #sql-editor-root-div {
    padding-right: 14px !important;
  }
  #query-container {
    padding-right: 14px !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
  25% {
    transform: rotate(60deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(140deg);
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(270deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: ease-in-out;
  }
}

.spin {
  animation: spin 1s infinite; /* You can adjust the duration as needed */
}

.folder-icon-container {
  width: 20px;
  height: 20px;
}
.chevron-right {
  align-items: center;
  padding-top: 4px;
  width: 20px;
  height: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.AccordionTrigger svg {
  transform: rotate(-90deg);
}

.AccordionTrigger[data-state="open"] svg {
  transform: rotate(0deg) !important;
  color: hsl(var(--primary));
}

.AccordionTrigger[data-disabled] svg {
  display: none;
}

.AccordionTrigger[data-disabled] {
  padding: 2px 0px 0px 24px;
}

.AccordionContent > div {
  padding-bottom: 8px;
}

.current-metadata-card::-webkit-scrollbar {
  width: 5px;
}

.threadsList::-webkit-scrollbar {
  width: 5px;
}

.sqlContainer::-webkit-scrollbar {
  width: 5px;
}

.chat-section::-webkit-scrollbar {
  width: 8px;
}

.notification-list::-webkit-scrollbar{
  width: 5px;
  
}

.task-breakdown::-webkit-scrollbar {
  width: 5px;
}

.react-mentions-class__input::-webkit-scrollbar{
  width: 5px;
}

.react-mentions-class__input:focus {
  outline: none;
}

.focusChat:focus-within{
  outline: 2px solid #94a3b8 !important;
  outline-offset: 2px
}

.custom-scrollbar::-webkit-scrollbar{
  width: 5px;
}
.add-custom-scrollbar>div>ul::-webkit-scrollbar{
  width: 8px;
}
.chat-section button:disabled svg{
  color: #d1d5db;
}

/* .chat-section button[aria-label='Bookmark']:disabled svg{
  fill: #ffffff;
  stroke: #d1d5db;
} */

.monaco-editor {
  position: absolute !important;
}

#suggestionsList div::-webkit-scrollbar{
  width: 5px;
}

#metadataList::-webkit-scrollbar{
  width: 5px;
}
.chatSourceDetailsBookmarkPreview::-webkit-scrollbar{
  width: 5px;
}
textarea{
  /* cursor: default; */
}


textarea::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track-piece,
textarea::-webkit-scrollbar-thumb
{
  cursor: default;
}

.arrow {
  filter: drop-shadow(0 0 3px black);
}


.PopoverClose {
	font-family: inherit;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--violet-11);
	position: absolute;
	top: 5px;
	right: 5px;
}
.PopoverClose:hover {
	background-color: var(--violet-4);
}
.PopoverClose:focus {
	box-shadow: 0 0 0 2px var(--violet-7);
}

.multi-select-input:focus{
  box-shadow: none !important;
}
@keyframes dot-drop {
  0% {
    transform: translateY(-100%) scale(1);
    opacity: 0;
  }
  50% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.animate-dot-drop {
  animation: dot-drop 0.6s ease-out forwards;
}